# Database Configuration
DATABASE_URL=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

# Server Configuration
PORT=3000

# TMDB API Configuration
TMDB_API_KEY=
TMDB_READ_ACCESS_TOKEN=
TMDB_BASE_URL="https://api.themoviedb.org/3"

# Authentication / Security
JWT_SECRET=
JWT_EXPIRATION_TIME="1d"